/* vars */
:root {
    --color-primary: #3B6262;
    --color-secondary: #C47457;
    --color-tertiary: #B6C3BB;
    --color-quaternary: #E4A456;
    --color-background: #F2E6C4;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 4rem;
    background-color: var(--color-primary);
    color: var(--color-background);
}

.header__button {
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    width: 40rem;
    padding: 1rem 0;
    background-color: var(--color-primary);
    color: var(--color-background);
    border: 4px solid var(--color-background);
    border-radius: 10rem;
    font-family: 'Fugaz One', sans-serif;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.header__button:not(:last-child) {
    margin-bottom: 2rem;
}

.header__button:hover {
    cursor: pointer;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.header-wrapper {
    width: 100%;
}

.primary-header {
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    font-size: 8rem;
}

.secondary-header {
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    font-size: 6rem;
    color: var(--color-secondary);
}

.secondary-header--light {
    color: var(--color-quaternary);
}

.tertiary-header {
    font-family: 'Fugaz One', sans-serif;
    font-size: 4rem;
    color: var(--color-quaternary);
    margin: 0;
}

.section {
    width: 100%;
    padding: 8rem 0;
}

.section--green {
    margin-top: 12rem;
    background-color: var(--color-primary);
    transform: skewy(5deg);
}

.section--green > * {
    transform: skewy(-5deg);
}

.row {
    display: flex;
    padding: 0 12rem;
    gap: 4rem;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-right {
    justify-content: start;
    text-align: right;
    align-items: end;
}

.align-left {
    text-align: left;
    align-items: start;
}

.avatar {
    height: 40rem;
}

.text {
    width: 100%;
    color: #111;
    font-size: 2rem;
    padding: 0 8rem;
    line-height: 3rem;
    text-align: center;
}

.package__price {
    font-size: 2rem;
    color: var(--color-background);
}

.package:not(:last-child) {
    margin-bottom: 8rem;
}

.package__list {
    font-size: 2rem;
    color: var(--color-background);
}

.package__list li:not(:last-child) {
    margin-bottom: 2rem;
}

.gallery {
    width: 100%;
    padding: 4rem;
}

.gallery__row {
    display: flex;
    gap: 4rem;
}

.gallery__row:not(:last-child) {
    margin-bottom: 4rem;
}

.gallery__image {
    object-fit: contain;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease;
}

.gallery__image:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    padding: 8rem 0;
    background-color: var(--color-primary);
    text-align: center;
}

.contact-list {
    list-style: none;
    font-size: 2rem;
    color: var(--color-background);
    padding: 0;
}

.contact-list li:not(:last-child) {
    margin-bottom: 2rem;
}

.contact-link {
    color: var(--color-background);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    display: none;
}

.modal__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border: 1rem solid #EEE;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 5rem;
    border: none;
    padding: 0 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .gallery__row {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        padding: 0 4rem;
    }

    .package {
        gap: 2rem;
    }

    .align-left, .align-right {
        align-items: center;
        justify-content: center;
    }

    .primary-header, .secondary-header, .tertiary-header {
        text-align: center;
    }

    .primary-header {
        font-size: 4rem;
    }

    .secondary-header {
        font-size: 4rem;
    }

    .tertiary-header {
        font-size: 3rem;
    }

    .header__button {
        width: 26rem;
        font-size: 1.8rem;
    }

    .avatar {
        height: auto;
        width: 80%;
    }
}