/* vars */
:root {
    --color-black: #0F0F0F;
    --color-gold: #D5A848;
    --color-off-white: #F5F5F4;
}

html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--color-off-white);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.row {
    display: flex;
    padding: 0 12rem;
}

.column {
    flex: 1;
}

.header {
    background-color: var(--color-black);
    width: 100%;
    padding: 20rem;
}

.primary-header {
    font-size: 10rem;
    font-family: 'Cormorant Garamond', serif;
    color: var(--color-off-white);
    position: relative;
    font-weight: 300;
}

.gold-text {
    color: var(--color-gold);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.link {
    color: var(--color-black);
}

.pb-12 {
    padding-bottom: 12rem !important; 
}

.header-subtext {
    font-size: 5rem;
    color: var(--color-gold);
    position: absolute;
    left: 23rem;
    top: 10rem;
    font-weight: 600;
}

.image-section {
    width: 100%;
    display: flex;
    padding: 4rem;
    gap: 4rem;
    overflow-x: auto;
}

.image-section__image {
    height: 40rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.image-section__image:hover {
    opacity: 0.8;
}

.text-section {
    background-color: var(--color-black);
    padding: 6rem 12rem;
}

.text-section--light {
    background-color: var(--color-off-white);
    padding: 6rem 12rem;
}

.text-section__header {
    color: var(--color-off-white);
    font-size: 6rem;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}

.text-section__header--dark {
    color: var(--color-black);
}

.text-section__body {
    color: var(--color-off-white);
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text-section__body--dark {
    color: var(--color-black);
}

.package {
    width: 100%;
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
}

.package__left, .package__right {
    flex: 1;
}

.package__left {
    text-align: right;
}

.package__name {
    font-size: 4.8rem;
    color: var(--color-gold);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin: 0;
}

.package__price {
    font-size: 3.2rem;
    color: var(--color-off-white);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin: 0;
}

.package__list {
    font-size: 1.8rem;
    color: var(--color-off-white);
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.package__list li::before {
    content: "\2666";
    color: var(--color-gold);
    padding-right: 2rem;
}

.package__list li:not(:last-child) {
    margin-bottom: 2rem;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 4rem;
    padding-top: 8rem;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border: 1rem solid var(--color-off-white);
}

.modal__close {
    border: none;
    background-color: none;
    color: var(--color-off-white);
    text-decoration: none;
    font-size: 5rem;
    position: absolute;
    top: 4rem;
    right: 3rem;
    line-height: 0;
    cursor: pointer;
    text-shadow: .3rem .3rem .6rem rgba(0,0,0,0.67);
}

@media screen and (max-width: 1400px) {
    .text-section {
        padding: 6rem;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 15rem 2rem;
    }

    .primary-header {
        font-size: 6rem;
        text-align: center;
    }

    .header-subtext {
        font-size: 4rem;
        position: relative;
        text-align: center;
        left: auto;
        top: auto;
        display: block;
        margin-top: 2rem;
    }

    .text-section {
        padding: 4rem 2rem;
    }

    .text-section__body {
        font-size: 1.6rem;
    }

    .text-section__header {
        font-size: 4rem;
    }

    .package {
        flex-direction: column;
    }

    .package__name {
        font-size: 3.8rem;
    }

    .package__price {
        font-size: 2.6rem;
    }

    .package__left {
        text-align: center;
    }

    .row {
        flex-direction: column;
        padding: 0;
    }

    .image-section__image {
        height: 25rem;
        cursor: pointer;
        transition: 0.3s ease;
    }
}
